.container {
    max-width: 600px;
    margin: auto;
    justify-content: center;
}

.head {
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
   
}

.form-control {
    margin-bottom: 15px;
    width: 415px;
}

#message {
    width: 100%;
}


.btn2:hover {
    background-color:#4f3d3d;
    color: aliceblue;
}


input{
    width: 50px;
}