:root{
    --bg: #f0abcd;
    --con:hsla(186, 60%, 28%, 0.685);
    --hm: #4f3d3d;
}

body{
    background-color:var(--con);
}

#home{
    color: var(--hm);
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px, solid;
}

#butt{
    background-color: var(--hm);
    color: #fff;
}