.job-box {
  border: 2px, solid;
  padding: 20px;
  background-color: #4f3d3d;
  color: #f1f1f1;

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.jobs h1 {
  margin-bottom: 50px;
  text-align: center;
}

.jobs h2 {
  margin-bottom: 10px;
  text-align: right;
}

.jobs {
  padding: 30px;
  margin: 20px;
  margin-bottom: 70px;
}
